header{
  background-color: rgba(0, 0, 0, 0.1);
  height: 10px;
}

body{
  background-color: rgba(235, 255, 235, 1);
  color: rgba(0, 0, 0, 0.5);
  font-family: "Hiragino Maru Gothic ProN W4", sans-serif;
  text-align: center;
}

.img001{
  width: 64px;
  height: 64px;
}

.title{

}

.intro{

}

footer{
  background-color: rgba(0, 0, 0, 0.1);
  height: 10px;
}
