body{ /*<body>タグ内の記述に適用する内容*/
  background-color: rgba(235, 255, 235, 1); /*背景色をRGB+透過度で指定*/
  font-family: "Hiragino Maru Gothic ProN W4", "HG丸ｺﾞｼｯｸM-PRO", sans-serif; /*フォントを指定*/
  color: rgba(0, 0, 0, 0.5); /*文字色を指定*/
  text-align: center; /*文字や画像の表示を中央寄せ*/
}

h3{ /*<h3>の文字色の透過度を調整*/
  color: rgba(0, 0, 0, 0.3);
}

.DateTime{ /*DateTimeクラス内の記述に適用する内容*/
  font-size: 30px; /*文字サイズ*/
}

.box{ /*boxクラスのdivグループの見た目を調整*/
  background-color: rgba(255, 255, 255, 1);
  height: auto; /*高さサイズを指定*/
  width: 500px; /*幅サイズを指定*/
  margin: 25px auto; /*外枠の外側の余白サイズを指定*/
  padding-top: 10px; /*外枠の内側の上側の余白サイズを指定*/
  padding-bottom: 25px; /*外枠の内側の下側の余白サイズを指定*/
  border-radius: 50px; /*外枠の角に丸みを付ける*/
}

.title{ /*項目名の下に罫線を表示*/
  border-bottom: 5px solid rgba(235, 255, 235, 1); /*下側に罫線を表示*/
}

.border{ /*下側に罫線を表示*/
  border-bottom: 5px solid rgba(235, 255, 235, 1);
}

.img001{ /*画像サイズを調整*/
  width: 64px;
  height: 64px;
}
